@charset "UTF-8";

:root{

    --cor00:#FFFFFC;
    --cor01:#17C3B2;
    --cor02:#FE6D73;
    --cor03:#283845;
    --cor04:#202C39;

}
*{
    margin: 0;
    padding: 0;
}
h1{
    color: #FFFFFC;
    text-align: center;
}
h3{
    color:#FFFFFC;
}
h2{
    color: #FFFFFC;
    text-indent: 1em;
}
#principal{
    text-indent: 0;
}
p {
    color: #FFFFFC;
    text-align: justify;
}

body {
   
    background-image: linear-gradient(to right, #202C39 , #091A2C);
    color:#4e7290;
    font:oblique normal 1em 'sans-serif','arial' ;
    margin: 0px;

}
main img{
    display: block;
    margin: auto;
}
button{
        display: block;
        margin: 0 auto;
        padding: 8px;
}
button:hover{
    background-color: #202C39;
    color:rgb(11, 123, 236);

}
a{
    text-decoration:none;
}
a:visited{
    color:rgb(11, 123, 236);
}
a:hover{
    color:black;
    
}
button:hover{
    transition-duration: 0.5s;
}
#mercedesg63{
    display: block;
    margin: 10px;
    border: 5px solid #FFFFFC;
    border-radius: 9px;
}
section{
    background-color: black;
    margin: 12px 0px 0px 0px;
}
section>p{
    margin: 0px;
}
#desenvolvido{
    text-align: center;
    padding: 8px;
}
.contatos{
    text-indent: 5px;
}
